/* COMMONS */

h1, h2, h3 {
   color: white;
   text-transform: uppercase;
   text-align: center;
}

h2 {
   color: black;
}

h3 {
   font-size: 1.2em;
   margin-bottom: 2em;
}

section {
    padding:2em;
}

.hamburger {
    display: none;
}


/* HEADER */

.container-fluid {
    background-color: rgb(36, 83, 136);
    color: white;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
}

/* JUMBO */

.green {
    background-color: aquamarine;
}

.turquoise {
    background-color: turquoise;
    height: 150px;
    margin-top: 2em;
    border-radius: 50%;
}

.wheat {
    background-color:wheat;
    height: 50px;
}

/* MAIN */

/* PORTFOLIO */

.black {
    background-color: black;
    height: 20px;
    margin-bottom: 1em;
}

.red {
    background-color: red;
    height: 200px;
}

.gap {
    gap:1em;
}

/* ABOUT */

.white-text {
    color: white;
}

.magenta {
    background-color: rgb(230, 40, 135);
    height: 100px;
    margin-top: 1em;
}

.orange {
    background-color: orange;
    height: 50px;
    margin-top: 1em;
}

/* CONTACTS */

.pink {
    height: 30px;
    background-color: plum;
}

.message {
    height: 100px;
}

/* FOOTER */

/* FOOTER-TOP */

.footer-top {
    background-color: lightblue;
}

.purple {
    background-color: rgb(153, 0, 255);
    height: 50px;
}

/* FOOTER-BOTTOM */

.khaki {
    height: 15px;
    background-color: khaki;
} 

/* MEDIA-QUERY */

@media screen and (max-width: 768px) {
   
    .hamburger {
        display: block;
    } 

    .none {
        display: none;
    }

}
