/* COMMONS */

/* h1, h2, h3 {
   color: white;
   text-transform: uppercase;
   text-align: center;
}


/* HEADER */

.header {
    background-color: turquoise;
}

/* JUMBOTRON */

.jumbo {
    background-color: #1ABC9C;
}

@media screen and (max-width: 576px) {
    .header h1 {
        font-size: 1em;
    }
}

/* MAIN */

/* PORTFOLIO */

/* .black {
    background-color: black;
    height: 20px;
}

.red {
    background-color: red;
    height: 200px;
}

.gap {
    gap:1em;
} */

/* ABOUT */

/* .white-text {
    color: white;
}

.magenta {
    background-color: rgb(230, 40, 135);
    height: 100px;
}

.orange {
    background-color: orange;
    height: 50px;
} */

/* CONTACTS */

/* .pink {
    height: 30px;
    background-color: plum;
}

.message {
    height: 100px;
} */

/* FOOTER */

/* FOOTER-TOP */

/* .footer-top {
    background-color: lightblue;
}

.purple {
    background-color: rgb(153, 0, 255);
    height: 50px;
} */

/* FOOTER-BOTTOM */

/* .khaki {
    height: 15px;
    background-color: khaki;
}  */

/* MEDIA-QUERY */

/* @media screen and (max-width: 768px) {
   
    .hamburger {
        display: block;
    } 

    .none {
        display: none;
    }

} */
