/* COMMONS */
h1, h2, h3 {
    text-transform: uppercase;
}

a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

/* HEADER */

.header {
    background-color: #2C3E50;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
    width: 100%;
}

/* JUMBOTRON */

.bg-green {
    background-color: #1ABC9C;
}

.jumbo img {
    width: 20%;
}

.text-white {
    color: white;
}

.dash {
    border-top: 4px solid black;
}

.dash-white {
    border-top: 4px solid white;
}

.star {
    width: 5%;
}

@media screen and (max-width: 576px) {
    .header h1 {
        font-size: 1em;
    }
}

/* MAIN */

/* PORTFOLIO */

.portfolio-image {
    width:100%;
    height: 300px;
}

.portfolio-image img {
    width: 100%;
}

.border-none {
    border: none;
}

.h-10 {
    height: 5px;
}

.margin {
    margin-bottom: 0;
}

label:hover {
    margin-bottom: 2rem;
}

.footer.top {
    background-color: #3A546D;
    color: white;
}

.fab {
    width:40px;
    height:40px;
    border-radius: 50%;
    border: 1px solid white;
    padding-top: .7em;
}

footer h3 {
    font-size: 1.2em;
}

.px-6 {
    padding-right: 10rem !important;
    padding-left: 10rem !important;
}

.freelance a {
    text-transform:none;
    color: #1ABC9C;
}

.footer.bottom {
    background-color: #2C3E50;
    color: white;
}